@{
    ViewData["Title"] = "Inicio";
}

<div class="p-5 mb-4 bg-white rounded-4 shadow-sm">
    <div class="container-fluid py-3">
        <h1 class="display-6 fw-bold text-primary">Bienvenido a CapiMovil</h1>
        <p class="col-md-8 fs-5">
            Sistema web de gestión de transporte escolar.
        </p>
        <a asp-controller="Usuario" asp-action="Listar" class="btn btn-primary btn-lg">
            Ir a Usuarios
        </a>
    </div>
</div>